/* flex */
.flex {display: flex}
.inline-flex {display: inline-flex}

.fw-nw {flex-wrap: nowrap}
.fw-w  {flex-wrap: wrap}

.fd-r  {flex-direction: row}
.fd-c  {flex-direction: column}

.gap-5  { gap: 5px }
.gap-10 { gap: 10px }
.gap-20 { gap: 20px }
.gap-30 { gap: 30px }
.gap-40 { gap: 40px }
.gap-50 { gap: 50px }