/* Paddings */

.p-28-26 {padding: 28px 26px}
.p-92-24 {padding: 92px 24px}
.p-20 { padding: clamp(8px, 2vw, 20px) }
.p-60 { padding: clamp(24px, 4vw ,60px)}

.pt-10  {padding-top: 10px}
.pt-20  {padding-top: 20px}
.pt-30  {padding-top: 30px}
.pt-40  {padding-top: 40px}
.pt-60  {padding-top: 60px}
.pt-70  {padding-top: 70px}
.pt-80  {padding-top: 80px}
.pt-90  {padding-top: 90px}
.pt-100 {padding-top: 100px}
.pt-110 {padding-top: 110px}
.pt-120 {padding-top: 120px}
.pt-130 {padding-top: 130px}
.pt-140 {padding-top: 140px}
.pt-150 {padding-top: 150px}

.pb-10  {padding-bottom: 10px}
.pb-20  {padding-bottom: 20px}
.pb-30  {padding-bottom: 30px}
.pb-40  {padding-bottom: 40px}
.pb-45  {padding-bottom: 45px}
.pb-60  {padding-bottom: 60px}
.pb-70  {padding-bottom: 70px}
.pb-80  {padding-bottom: 80px}
.pb-90  {padding-bottom: 90px}
.pb-100 {padding-bottom: 100px}
.pb-150 {padding-bottom: 150px}
.pb-175 {padding-bottom: 175px}
.pb-200 {padding-bottom: 200px}
.pb-225 {padding-bottom: 175px}

.ptb-20 {padding: 20px 0}
.ptb-30 {padding: 30px 0}
.ptb-40 {padding: 40px 0}
.ptb-50 {padding: 50px 0}
.ptb-60 {padding: clamp(20px, 4vw, 60px) 0}
.ptb-70 {padding: 70px 0}
.ptb-80 {padding: 80px 0}
.ptb-90 {padding: 90px 0}
.ptb-120 {padding: 120px 0}

.pl-10 {padding-left: 10px}
.pl-20 {padding-left: 20px}
.pl-40 {padding-left: clamp(0px, 2vw ,40px)}
.pl-60 {padding-left: 60px}
.pl-70 {padding-left: 70px}
.pl-80 {padding-left: 80px}
.pl-90 {padding-left: 90px}


/* Margins */

.mt-5   {margin-top: 5px}
.mt-10  {margin-top: 10px}
.mt-20  {margin-top: 20px}
.mt-30  {margin-top: 30px}
.mt-40  {margin-top: clamp(0px, 2vw, 40px)}
.mt-60  {margin-top: clamp(40px, 4vw, 60px)}
.mt-70  {margin-top: clamp(12px, 4vw, 70px)}
.mt-80  {margin-top: 80px}
.mt-90  {margin-top: 90px}
.mt-100 {margin-top: clamp(34px, 4vw, 100px)}
.mt-110 {margin-top: 110px}
.mt-140 {margin-top: 140px}
.mt-150 {margin-top: clamp(100px, 15vw, 150px)}
.mt-160 {margin-top: 160px}
.mt-200 {margin-top: 200px}
.mt-240 {margin-top: 240px}
.mt-270 {margin-top: clamp(80px, 12vw, 270px)}
.mt-300 {margin-top: 300px}
.mt-320 {margin-top: 320px}

.mb-5   {margin-bottom: 5px}
.mb-10  {margin-bottom: 10px}
.mb-20  {margin-bottom: 20px}
.mb-30  {margin-bottom: 30px}
.mb-40  {margin-bottom: 40px}
.mb-60  {margin-bottom: 60px}
.mb-70  {margin-bottom: 70px}
.mb-80  {margin-bottom: 80px}
.mb-90  {margin-bottom: 90px}
.mb-100 {margin-bottom: 100px}
.mb-110 {margin-bottom: 110px}
.mb-140 {margin-bottom: 140px}
.mb-150 {margin-bottom: 150px}
.mb-200 {margin-bottom: 200px}

/* .mtb-5   {margin: 5px 0} */

.mtb-5   {margin: 5px 0}
.mtb-10  {margin: 10px 0}
.mtb-20  {margin: 20px 0}
.mtb-30  {margin: 30px 0}
.mtb-40  {margin: 40px 0}
.mtb-60  {margin: 60px 0}
.mtb-70  {margin: 70px 0}
.mtb-80  {margin: 80px 0}
.mtb-90  {margin: 90px 0}
.mtb-100 {margin: 100px 0}
.mtb-110 {margin: 110px 0}
.mtb-140 {margin: 140px 0}
.mtb-150 {margin: 150px 0}
.mtb-200 {margin: 200px 0}

/* ——————————————————————————————— */